<title>Nexgen Adjustable Revenue</title>
<h3>Nexgen Adjustable Revenue App</h3>
<form action="{{ url_for("prediction")}}" method="post">
<label for="startdate">Date:</label>
<input type="date" id="startdate" name="day" placeholder="startdate">
<br>
<label for="lead">Leads:</label>
<input type="number" id="lead" name="le" placeholder="lead">
<br>
<label for="tech">Tech:</label>
<input type="number" id="tech" name="te" placeholder="tech">
<br>
<label for="ticket">Ticket:</label>
<input type="number" id="ticket" name="ti" placeholder="ticket">
<br>
<button type="submit">Predict</button>